*{
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: #9b59b6;
}
.input-container{
    padding:10px;
    
}
.todo-input{
    display: block;
    margin:auto;
    width: 60%;
    height: 70%;
    font-size:2rem;
    outline:none;
    text-align: center;
    border-radius: 50px;
    border:none;
}
.add-todo{
    display: block;
    margin:auto;
    margin-top:15px;
    width:15%;
    height:50%;
    outline: none;
    margin-bottom:20px;
    border:none;
    border-radius: 50px;
}
.todos-container{
    display: block;
    border: 2px solid beige;
    justify-content: center;
    height: 80vh;
    border:none;
}

.todo-item{
   display: block;
   margin:auto;
   height: 4rem;
    margin-bottom: 25px;
       width: 70%;
   border-radius: 50px;
   background-color: purple
   
}
.todo{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.delete-button {
    transition-duration: 0.4s;
    display: block;
    margin: auto;
    padding: 4px 15px; 
  }
  
  .delete-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
